:host {
  display: block;
  border-top: thin solid #444;
  margin-bottom: 2rem;
}

.question {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.response {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 0;
}