:host {
  display: block;
}

.gallery {
  display: grid;
  max-width: 660px;
  grid-gap: 0.3rem;
  grid-template-columns: repeat(3, 1fr);
}
.gallery .grid {
  grid-template-columns: repeat(3, 1fr);
}

.gallery dc-election-candidate {
  border: thin solid #eee;
  padding: 0.5rem;
}