:host {
  display: block;
}

.gallery {
  display: grid;
  max-width: 800px;
  grid-gap: 0.3em;
  grid-template-columns: repeat(3, 1fr);
}
.narrow {
  grid-template-columns: repeat(2, 1fr);
}

.gallery dc-election-candidate {
  border: thin solid #eee;
  padding: 0.5em;
}

/* Displays empty state */
.gallery:empty::after {
  margin: 5px 0 0 5px;
  color: #AAA;
  font-weight: 300;;
  content: "no responses";
}
