:host {
  display: block;
  font-family: sans-serif;
}
.filter {
  width: 50vw;
}
ol {
  /* margin: 0 0 0 1em; */
  padding: 0;
  font: italic 2em Georgia;
  color: #666;
  list-style-position: outside;
  padding-left: 1.5em;
}
ol dc-election-question {
  font: normal 16px Helvetica, Arial, Sans-Serif;
  color: #000;  
}
ol li {
  border-top: thin solid #444;
  margin-top: 1em;
}

input {
  font-size: 1.2em;
  height: 2em;
  width: 12em;
  margin: 0 1em;
}