:host {
  display: block;
  font-family: sans-serif;
}
.filter {
  max-width: 800px;
}
.help {
  margin: 1em 0;
  padding: 1em 0 1em 1em;
  border: thin solid #0f9535;
  max-width: 780px;
}
dc-map {
  height: 400px;
  width: 400px;
}
dc-feature-summary {
  position:absolute;
  top: 200px;
  background-color: rgba(255,255,255, 0.8);
  width: 300px;
}

ol {
  /* margin: 0 0 0 1em; */
  padding: 0;
  font: italic 2em Georgia;
  color: #666;
  list-style-position: outside;
  padding-left: 1.5em;
}
ol dc-election-question {
  font: normal 16px Helvetica, Arial, Sans-Serif;
  color: #000;  
}
ol li {
  border-top: thin solid #444;
  margin-top: 1em;
}

input {
  font-size: 1.2em;
  height: 2em;
  width: 12em;
  margin: 0 1em;
}