:host {
  display: grid;
}

.fullname {
  font-weight: 600;
  font-size: 1em;
}

.bio, .office {
  color: #444;
  font-size: 0.9em;
  font-weight: 300;  
}

img {
  font-weight: 200; /* alt text */
  font-size: 0.6em;
  font-style: italic;
  width: 100px;
}
