:host {
  display: block;
  position: sticky;
  top: 0;
  background-color: white;
  opacity: 0.9;

}
.preface {
  font-weight: 300;
  font-size: 1em;
  display: block;
}

.focus {
  font-weight: 800;
  font-size: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  display: block;
}
